body {
    margin: 0;
    padding: 0;
    background-color: pink;
}

header.header {
    margin: 0;
    padding: 0;
}

header.header div{
    margin: 0;
    padding: 0;
}

header.header div.top_slider figure {
    position: relative;
    margin: 0;
    padding: 0;
    
}

header.header div.top_slider figure img {
    max-width: 100%;
    height: auto;
    
}

header.header div.top_slider figure figcaption {
    position: absolute;
    /* background-color: red; */
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}



figcaption h1 {
    content: "Olins";
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    
}

figcaption span {
    display: block;
    /* background: green; */
    font-family:'Playfair Display', serif;
    font-size: 21px;
    font-style: italic; 

}

figcaption h2 {
    display: block;
    /* background: yellowgreen; */
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    font-weight: 900;
    /* text-transform: uppercase; */
}

figcaption a {
    display: block;
    /* background: blue; */
}

/* 
font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Questrial', sans-serif;
font-family: 'Playfair Display', serif;
*/

main section.info {
    position: relative;
    width: 100%;
    height: auto;
}

main section.info div.left {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: auto;
}

main section.info div.left img {
    width: 100%;
    height: auto;
}

main section.info div.right {
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    height: auto;
}